<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

<table class="table" id="table">
  <thead>
    <tr>
      <th>Data-Ora</th>
      <th>Codice utente</th>
      <th>Controlli</th>
      <th>Esito</th>
      <th>Sorgente</th>
      <th>Edizione</th>
      <th>Varco</th>
      <th>Lettore</th>
      <th>Term</th>
      <th>Mac</th>
      <th ></th>     <th ></th>     <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.data[6] %><%= transaction.data[7] %>/<%= transaction.data[4] %><%= transaction.data[5] %>/<%= transaction.data[0] %><%= transaction.data[1] %><%= transaction.data[2] %><%= transaction.data[3] %> - <%= transaction.ora[0] %><%= transaction.ora[1] %>:<%= transaction.ora[2] %><%= transaction.ora[3] %>:<%= transaction.ora[4] %><%= transaction.ora[5] %></td>
        <td><%= @tags.where(" internal_sn= #{transaction.codice_utente}" ).first.codicetelecomando %></td>
        <td><%= transaction.controlli %></td>
        <td><%= transaction.esito %></td>
        <td><%= transaction.sorgente %></td>
        <td><%= transaction.edizione %></td>
        <td><%= transaction.varco %></td>
        <td><%= transaction.lettore %></td>
        <td><%= transaction.term_id %></td>
        <td><%= transaction.mac %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
<script>
  $('#table').DataTable({

});
</script>