<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

<table class="table" id="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Ora</th>
      <th>Codice utente</th>
      <th>Controlli</th>
      <th>Esito</th>
      <th>Sorgente</th>
      <th>Edizione</th>
      <th>Varco</th>
      <th>Lettore</th>
      <th>Term</th>
      <th>Mac</th>
      <th ></th>     <th ></th>     <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.data %></td>
        <td><%= transaction.ora %></td>
        <td><%= transaction.codice_utente %></td>
        <td><%= transaction.controlli %></td>
        <td><%= transaction.esito %></td>
        <td><%= transaction.sorgente %></td>
        <td><%= transaction.edizione %></td>
        <td><%= transaction.varco %></td>
        <td><%= transaction.lettore %></td>
        <td><%= transaction.term_id %></td>
        <td><%= transaction.mac %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
<script>
  $('#table').DataTable({

});
</script>